---
- name: Build and run Python app container
  hosts: localhost
  connection: local

  vars:
    image_name: "cyrixrr/python-app"
    image_tag: "v2"
    listen_port: 8000 # Here we set our variables

  collections:
    - community.docker # Here we gave acces to Docker modules

  tasks:

    - name: Build the Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        build:
          path: "{{ playbook_dir }}"
        source: build #This would like this in shell "docker build -t cyrixrr/python-app:v2 .""

    - name: Remove existing container if present
      community.docker.docker_container:
        name: python-app
        state: absent #That will make it idempotent as we spoke in cource

    - name: Run the Docker container
      community.docker.docker_container:
        name: python-app
        image: "{{ image_name }}:{{ image_tag }}"
        env:
          PORT: "{{ listen_port }}"
        published_ports:
          - "{{ listen_port }}:{{ listen_port }}"
        state: started
        restart_policy: unless-stopped #All this would like this in shell "docker run -d --name python-app -e PORT=8000 -p 8000:8000 cyrixrr/python-app:v2"
