---
- name: Build and run Python app container
  hosts: localhost
  connection: local

  vars:
    image_name: "cyrixrr/python-app"
    image_tag: "v2"
    listen_port: 8000

  collections:
    - community.docker

  tasks:

    - name: Build the Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        build:
          path: "{{ playbook_dir }}"
        source: build

    - name: Remove existing container if present
      community.docker.docker_container:
        name: python-app
        state: absent

    - name: Run the Docker container
      community.docker.docker_container:
        name: python-app
        image: "{{ image_name }}:{{ image_tag }}"
        env:
          PORT: "{{ listen_port }}"
        published_ports:
          - "{{ listen_port }}:{{ listen_port }}"
        state: started
        restart_policy: unless-stopped
