- hosts: localhost
  become: no

  vars:
    image_name: "vutoff/test-python-app"
    image_tag: "v0.2"
    application_directory: "/tmp/app"

  tasks:
    - name: Create {{ application_directory }} directory
      file:
        name: "{{ application_directory }}"
        state: directory
        mode: 0755

    - name: Checkout repository
      git:
        repo: git@github.com:vutoff/devops-programme
        dest: "{{ application_directory }}"
        version: main
        update: yes

    - name: Build Docker image
      docker_image:
        build:
          path: "{{ application_directory }}"
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        push: true
        source: build
        docker_host: "unix://{{ ansible_env.HOME }}/.rd/docker.sock"
        state: present

    - name: Run the built Docker image
      docker_container:
        name: "python-web"
        image: "{{ image_name }}:{{ image_tag }}"
        state: started
        auto_remove: yes
        ports:
          - "5001:5001"
        env:
          PORT: "5001"
        healthcheck:
          test: ["CMD", "curl", "--fail", "http://localhost:5001"]
          interval: 10s
          retries: 3
          start_period: 5s
        docker_host: "unix://{{ ansible_env.HOME }}/.rd/docker.sock"
