name: CI on Pull Request

on:
  pull_request:   # Задаваме trigger-а
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print a message
        run: echo "Hello! This workflow runs on every pull request to main"
